
.main {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: auto auto auto;

}

.imgDiv {
    background-image: url(./leaf.jpg);
    width: 20vw;
    height: 20vh;
}

div {
    border: 1px solid red;
}